# Microfinance Data Processing

### Purpose: 
This code preprocesses data from Banerjee A, Chandrasekhar AG, Duflo E, Jackson MO. The diffusion of microfinance. Science. 2013;341(6144). https://doi.org/10.1126/science.1236498 (publicly available via the Harvard Dataverse at https://doi.org/10.7910/DVN/U3BIHX).

In [1]:
import networkx as nx
import numpy as np
import pandas as pd
import sklearn.metrics as skm
from itertools import combinations

### Read in the data

Note: there are 75 villages included in total. Village IDs 13 and 22 are not used.

In [2]:
path = ''
villages = [x for x in range(1,78) if x not in [13,22]]

# Network information for household-level data

Alist = {}
GVs = {}
for k in villages:
    j = k-1
    filename = path + "1. Network Data/Adjacency Matrices/adj_allVillageRelationships_HH_vilno_" + str(k) + ".csv"
    A = np.loadtxt(filename, delimiter=",")
    G = nx.to_networkx_graph(A)
    Alist[j] = A
    GVs[j] = G

In [3]:
# Check that they're symmetric
for i in villages:
    symm = np.array_equal(Alist[i-1], Alist[i-1].T)
    if symm == False:
        print("village: ", i, ", symm: ", )

In [5]:
# average density
dens = []
degs = []
for i in villages:
    d = nx.density(GVs[i-1])
    deg = [d for n,d in nx.degree(GVs[i-1])]
    dens.append(d)
    degs += deg
           
print(np.mean(degs))  
print(np.mean(dens))

8.9723564143854
0.04914595732261628

In [5]:
# Read in the demographic data
HHfile = path + '2. Demographics and Outcomes/household_characteristics.dta'
HHdata = pd.read_stata(HHfile)

In [6]:
print(HHdata.columns.values)

['village' 'adjmatrix_key' 'HHnum_in_village' 'hhid' 'hohreligion'
 'castesubcaste' 'rooftype1' 'rooftype2' 'rooftype3' 'rooftype4'
 'rooftype5' 'rooftypeoth' 'room_no' 'bed_no' 'electricity' 'latrine'
 'ownrent' 'hhSurveyed' 'leader']

In [7]:
HHdata.head

<bound method NDFrame.head of        village  adjmatrix_key  HHnum_in_village   hhid hohreligion  \
0            1              1                 1   1001    HINDUISM
1            1              2                 2   1002    HINDUISM
2            1              3                 3   1003    HINDUISM
3            1              4                 4   1004    HINDUISM
4            1              5                 5   1005    HINDUISM
...        ...            ...               ...    ...         ...
14899       77            151               151  77151    HINDUISM
14900       77            152               152  77152    HINDUISM
14901       77            153               153  77153    HINDUISM
14902       77            154               154  77154    HINDUISM
14903       77            155               155  77155    HINDUISM

        castesubcaste  rooftype1  rooftype2  rooftype3  rooftype4  rooftype5  \
0                              0          1          0          0          0
1                              0          1          0          0          0
2                              0          0          0          0          1
3                              0          1          0          0          0
4                              0          1          0          0          0
...               ...        ...        ...        ...        ...        ...
14899  SCHEDULE CASTE          0          0          1          0          0
14900  SCHEDULE TRIBE          0          0          1          0          0
14901  SCHEDULE CASTE          0          0          1          0          0
14902  SCHEDULE CASTE          0          0          1          0          0
14903  SCHEDULE CASTE          0          0          1          0          0

      rooftypeoth  room_no  bed_no      electricity latrine  \
0                        3       4               No    None
1                        1       1  Yes, Government    None
2                        3       4     Yes, Private    None
3                        2       6     Yes, Private   Owned
4                        3       4     Yes, Private    None
...           ...      ...     ...              ...     ...
14899                    1       0  Yes, Government    None
14900                    1       0  Yes, Government    None
14901                    3       0     Yes, Private    None
14902                    2       0     Yes, Private    None
14903                    3       0     Yes, Private    None

                   ownrent  hhSurveyed  leader
0                    OWNED           0       0
1                    OWNED           1       1
2                    OWNED           0       1
3                    OWNED           0       0
4                    OWNED           0       0
...                    ...         ...     ...
14899  GIVEN BY GOVERNMENT           0       0
14900                OWNED           1       0
14901                OWNED           0       0
14902                OWNED           1       0
14903                OWNED           1       0

[14904 rows x 19 columns]>

### Data Binarization

In [25]:
# Make the keys 0 indexed

HHdata = HHdata.assign(adjmatrix_idx= [x - 1 for x in HHdata["adjmatrix_key"]])
HHdata = HHdata.assign(villno_idx= [x - 1 for x in HHdata["village"]])

# Create binary variables

HHdata = HHdata.assign(relig_bin = [1 if x == "HINDUISM" else 0 for x in HHdata["hohreligion"]],
                      caste_bin = [1 if x in ["SCHEDULE CASTE", "SCHEDULE TRIBE"] else 0 for x in HHdata["castesubcaste"]],
                      room_bin = [1 if x > 2 else 0 for x in HHdata["room_no"]],
                      bed_bin = [1 if x > 0 else 0 for x in HHdata["bed_no"]],
                      elec_bin = [1 if x ==  "Yes, Private" else 0 for x in HHdata["electricity"]],
                      latrine_bin = [0 if x == "None" else 1 for x in HHdata["latrine"]],
                      roof_bin = [1 if max(x,y)==1 else 0 for x,y in zip(HHdata["rooftype1"], HHdata["rooftype2"])])

In [26]:
# double check binarized variables

print(pd.crosstab(HHdata["hohreligion"], HHdata["relig_bin"]))
print(pd.crosstab(HHdata["castesubcaste"], HHdata["caste_bin"]))
print(pd.crosstab(HHdata["room_no"], HHdata["room_bin"]))
print(pd.crosstab(HHdata["bed_no"], HHdata["bed_bin"]))
print(pd.crosstab(HHdata["electricity"], HHdata["elec_bin"]))
print(pd.crosstab(HHdata["latrine"], HHdata["latrine_bin"]))
print(pd.crosstab(HHdata["rooftype1"], HHdata["roof_bin"]))
print(pd.crosstab(HHdata["rooftype2"], HHdata["roof_bin"]))

relig_bin       0      1
hohreligion
HINDUISM        0  14279
ISLAM         611      0
CHRISTIANITY   14      0
caste_bin          0     1
castesubcaste
                4455     0
GENERAL         1371     0
MINORITY         359     0
OBC             5517     0
SCHEDULE CASTE     0  2584
SCHEDULE TRIBE     0   618
room_bin     0     1
room_no
0          201     0
1         3324     0
2         6180     0
3            0  2892
4            0  1453
5            0   473
6            0   225
7            0    66
8            0    44
9            0    21
10           0    11
11           0     4
12           0     4
14           0     2
15           0     1
18           0     1
19           0     1
20           0     1
bed_bin     0     1
bed_no
0        7569     0
1           0  4326
2           0  1959
3           0   471
4           0   341
5           0   100
6           0    76
7           0    11
8           0    23
9           0     3
10          0    11
12          0     4
15          0     3
16          0     1
20          0     3
24          0     1
30          0     1
50          0     1
elec_bin            0     1
electricity
Yes, Private        0  9195
Yes, Government  4565     0
No               1141     0
latrine_bin      0     1
latrine
Owned            0  3887
Common           0    84
None         10930     0
roof_bin      0     1
rooftype1
0          9731  4823
1             0   350
roof_bin      0     1
rooftype2
0          9731   350
1             0  4823

In [38]:
# double check binarized variables

print(pd.Series(HHdata["relig_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["caste_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["room_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["bed_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["elec_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["latrine_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["roof_bin"]).value_counts(dropna=False))
print(pd.Series(HHdata["roof_bin"]).value_counts(dropna=False))

relig_bin
1    14279
0      625
Name: count, dtype: int64
caste_bin
0    11702
1     3202
Name: count, dtype: int64
room_bin
0    9705
1    5199
Name: count, dtype: int64
bed_bin
0    7569
1    7335
Name: count, dtype: int64
elec_bin
1    9195
0    5709
Name: count, dtype: int64
latrine_bin
0    10930
1     3974
Name: count, dtype: int64
roof_bin
0    9731
1    5173
Name: count, dtype: int64
roof_bin
0    9731
1    5173
Name: count, dtype: int64

In [41]:
# Create binary dataset

HHbinary = HHdata[["villno_idx", "relig_bin", "caste_bin", "roof_bin", "room_bin", "bed_bin", "elec_bin", "latrine_bin", "leader"]]

In [42]:
for i in range(len(HHbinary.columns.values)):
    frequency = HHbinary.iloc[:, i].value_counts(dropna=False)
    print(HHbinary.columns.values[i], "\n", frequency)

villno_idx
 villno_idx
59    356
58    329
51    327
27    315
70    298
     ...
36    121
5     114
53     99
7      94
9      77
Name: count, Length: 75, dtype: int64
relig_bin
 relig_bin
1    14279
0      625
Name: count, dtype: int64
caste_bin
 caste_bin
0    11702
1     3202
Name: count, dtype: int64
roof_bin
 roof_bin
0    9731
1    5173
Name: count, dtype: int64
room_bin
 room_bin
0    9705
1    5199
Name: count, dtype: int64
bed_bin
 bed_bin
0    7569
1    7335
Name: count, dtype: int64
elec_bin
 elec_bin
1    9195
0    5709
Name: count, dtype: int64
latrine_bin
 latrine_bin
0    10930
1     3974
Name: count, dtype: int64
leader
 leader
0    13066
1     1838
Name: count, dtype: int64

In [43]:
HHbinary.to_csv(path + 'HH_binary.csv', index=False)

## Read-in test

In [6]:
Y = pd.read_csv(path+"HH_binary.csv")
print(Y.head())

   villno_idx  relig_bin  caste_bin  roof_bin  room_bin  bed_bin  elec_bin  \
0           0          1          0         1         1        1         0
1           0          1          0         1         0        1         0
2           0          1          0         0         1        1         1
3           0          1          0         1         0        1         1
4           0          1          0         1         1        1         1

   latrine_bin  leader
0            0       0
1            0       1
2            0       1
3            1       0
4            0       0

In [15]:
# Data proportions in the villages

vill_col = Y.columns[0]   # village ID column

for col in Y.columns[1:]:  # loop over binary variables
    # Proportion in each village (mean of a binary variable = proportion of 1s)
    vill_props = Y.groupby(vill_col)[col].mean()
    
    if col=="relig_bin":
        print("Proportion villages all Hindu: ", np.sum(vill_props==1)/75)

    # Average of those proportions over all villages
    overall_avg = vill_props.mean()

    print(col)
    #print("  per-village proportions:")
    #print(vill_props)
    print("  average of 1 over villages:", overall_avg, "\n")
    print("  average of 0 over villages:", 1-overall_avg, "\n")

Proportion villages all Hindu:  0.5333333333333333
relig_bin
  average of 1 over villages: 0.9604459503770583

  average of 0 over villages: 0.039554049622941734

caste_bin
  average of 1 over villages: 0.20508592243907084

  average of 0 over villages: 0.7949140775609291

roof_bin
  average of 1 over villages: 0.33850922325438293

  average of 0 over villages: 0.6614907767456171

room_bin
  average of 1 over villages: 0.34778018464609545

  average of 0 over villages: 0.6522198153539045

bed_bin
  average of 1 over villages: 0.4877263819872226

  average of 0 over villages: 0.5122736180127774

elec_bin
  average of 1 over villages: 0.612880658546348

  average of 0 over villages: 0.387119341453652

latrine_bin
  average of 1 over villages: 0.25971229037147553

  average of 0 over villages: 0.7402877096285245

leader
  average of 1 over villages: 0.12580365847689606

  average of 0 over villages: 0.874196341523104

In [47]:
def calculate_jaccard_table(df):
    categorical_cols = df.columns.tolist()
    
    if not categorical_cols:
        raise ValueError("DataFrame must contain categorical variables.")
    
    jaccard_matrix = pd.DataFrame(index=categorical_cols, columns=categorical_cols)
    
    for col1, col2 in combinations(categorical_cols, 2):
        df_encoded = df[[col1, col2]].dropna()
        
        # Compute Jaccard similarity for each pair of variables
        score = skm.jaccard_score(df_encoded.iloc[:, 0], df_encoded.iloc[:, 1], average='binary')
        
        
        jaccard_matrix.loc[col1, col2] = score
        jaccard_matrix.loc[col2, col1] = score
    
    # Fill diagonal with 1.0 (self-similarity)
    for col in categorical_cols:
        jaccard_matrix.loc[col, col] = 1.0
    
    return jaccard_matrix.astype(float)

In [48]:
novillno = Y.copy()
novillno = novillno.drop(["villno_idx"],axis=1)
calculate_jaccard_table(novillno)

,relig_bin,caste_bin,roof_bin,room_bin,bed_bin,elec_bin,latrine_bin,leader
relig_bin,1.000000,0.224245,0.345228,0.347119,0.480614,0.595677,0.254674,0.124076
caste_bin,0.224245,1.000000,0.207817,0.108311,0.121554,0.110047,0.054984,0.065764
roof_bin,0.345228,0.207817,1.000000,0.158236,0.208502,0.238514,0.091918,0.082947
room_bin,0.347119,0.108311,0.158236,1.000000,0.432457,0.400195,0.333285,0.136099
bed_bin,0.480614,0.121554,0.208502,0.432457,1.000000,0.516514,0.354696,0.134570
elec_bin,0.595677,0.110047,0.238514,0.400195,0.516514,1.000000,0.362122,0.138009
latrine_bin,0.254674,0.054984,0.091918,0.333285,0.354696,0.362122,1.000000,0.140950
leader,0.124076,0.065764,0.082947,0.136099,0.134570,0.138009,0.140950,1.000000

### Create additional random variables and add to the binary dataset

In [49]:
binarydat = pd.read_csv(path+"HH_binary.csv")

In [52]:
# create 24 random variables
np.random.seed(3939)
noise = np.random.binomial(1, 0.5, (len(binarydat["villno_idx"]), 24))
print(np.shape(noise))

pd.DataFrame(noise).head()

(14904, 24)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0,0,1,0,1,1,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
1,1,1,0,1,1,0,0,1,0,0,...,0,1,1,0,0,1,1,1,1,0
2,0,1,0,1,0,1,0,0,0,0,...,1,1,0,1,1,0,1,1,0,0
3,0,0,1,1,0,1,0,0,1,0,...,0,1,0,1,0,0,1,0,0,1
4,0,0,0,1,1,1,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0

In [53]:
# add to data
augmented = pd.DataFrame(np.hstack((binarydat, noise)))
print(np.shape(augmented))

(14904, 33)

In [54]:
augmented.to_csv(path + 'HH_binary_augment.csv', index=False)

In [55]:
np.unique(binarydat["villno_idx"])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17,
       18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76])

In [56]:
len(np.unique(binarydat["villno_idx"]))

75

In [57]:
village_index_list = [0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17,
       18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76]

village_list = [x+1 for x in village_index_list]

### Pick villages for emulated pilot study

In [58]:
# randomly select villages to treat as pilot
import random
random.seed(3)
random.sample(village_list, 10)

#33,72,18,50,63,9,2,73,36,32

[33, 72, 18, 50, 63, 9, 2, 73, 36, 32]